<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cuenta</h4>
                <hr>
                
                <div class="alert alert-success" *ngIf="status">
                    <span>{{ mensaje }}</span>
                </div>

                <form [formGroup]="formUsuario" (ngSubmit)="onUsuarioForm()" class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label for="first_name" class=" col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input 
                                    type="text" 
                                    class="form-control"
                                    placeholder="Nombre"
                                    formControlName="first_name"
                                >

                                <!--<small *ngIf="nombreNoValido" class="text-danger">
                                    Ingrese al menos 5 letras
                                </small>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class=" col-sm-3 control-label">Apellido</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input 
                                    type="text"
                                    class="form-control"
                                    placeholder="Apellido"
                                    formControlName="last_name"
                                >
                                <!--<small *ngIf="apellidoNoValido" class="text-danger">
                                    Ingrese el apellido
                                </small>-->
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class=" col-sm-3 control-label">Correo Electronico</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    placeholder="Email"
                                    formControlName="email"
                                >
                                <!--<small *ngIf="correoNoValido" class="text-danger">
                                    Ingrese el correo
                                </small>--->
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-sm-3 control-label">Contraseña</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input 
                                    type="text" 
                                    class="form-control"
                                    placeholder="Contraseña"
                                    formControlName="password"
                                >
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="rol" class="col-sm-3 control-label">Rol de Usuario</label>
                        <div class="col-sm-9">
                            <select formControlName="role" class="form-control">
                                <option disabled value="">Seleccione un rol de Usuario</option>
                                <option *ngFor="let rol of roles" [ngValue]="rol.rolName">{{rol.rolName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button 
                                type="submit"
                                nz-button
                                nzType="primary"
                                class="btn btn-success"
                            >
                                <i nz-icon nzType="save" nzTheme="outline"></i>
                                Guardar
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
