<br>
<br>
<div class="container mb-2">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registro de <small>Usuario</small></h4>
                    <hr>
                    <form [formGroup]="formRegistro" (ngSubmit)="onCreateEmpresa()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Datos de usuario</h4>
                                        <div class="form-group">
                                            <input type="text"
                                                       name="first_name"
                                                       formControlName="first_name" 
                                                       class="form-control"
                                                       [class.is-invalid]="nombreNoValido"
                                                       placeholder="Nombre"
                                                >
                                                <small class="text-danger" *ngIf="nombreNoValido">
                                                    Ingrese al menos 3 letras
                                                </small>
                                        </div>
                                        <div class="form-group">
                                            <input type="text"
                                                   name="last_name"
                                                   formControlName="last_name" 
                                                   class="form-control"
                                                   [class.is-invalid]="apellidoNoValido"
                                                   placeholder="Apellido"
                                            >
                                            <small class="text-danger" *ngIf="apellidoNoValido">
                                                Ingrese al menos 3 letras
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" 
                                                   name="email"
                                                   formControlName="email" 
                                                   class="form-control"
                                                   [class.is-invalid]="emailNoValido"
                                                   placeholder="Correo Eléctronico">
                                            <small class="text-danger" *ngIf="emailNoValido">Correo no valido </small>
                                            <small class="text-danger" *ngIf="emailExiste">Ya esta registrado en el sistema </small>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" 
                                                   name="password"
                                                   formControlName="password" 
                                                   class="form-control"
                                                   [class.is-invalid]="passwordNoValido"
                                                   placeholder="Contraseña">
                                            <small class="text-danger" *ngIf="passwordNoValido">Minimo 6 caracteres</small>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" 
                                                   name="passwordrepeat"
                                                   formControlName="passwordrepeat" 
                                                   class="form-control"
                                                   [class.is-invalid]="passwordrepeatNoValido"
                                                   placeholder="Repita su contraseña">
                                            <small class="text-danger" *ngIf="passwordrepeatNoValido">Contraseña no coincide</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Datos de empresa</h4>
                                        <hr>
                                        <div class="form-group">
                                            <label for="empresa">Empresa</label>
                                            <input type="text"
                                                       name="name"
                                                       formControlName="name" 
                                                       class="form-control"
                                                       [class.is-invalid]="empresaNoValida"
                                                       placeholder="Nombre de su empresa"
                                                >
                                                <small class="text-danger" *ngIf="empresaNoValida">Minimo 4 letras</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="rubro">Rubro</label>
                                            <input type="text"
                                                   name="rubro"
                                                   formControlName="rubro"
                                                   class="form-control"
                                                   [class.is-invalid]="rubroNoValido"
                                                   placeholder="Rubro al que se dedica"
                                            >
                                            <small class="text-danger" *ngIf="rubroNoValido">Minimo 4 letras</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="tienda">Tienda</label>
                                            <input type="text" 
                                                   class="form-control"
                                                   [class.is-invalid]="tiendaNoValida"
                                                   name="tienda"
                                                   formControlName="tienda"
                                                   placeholder="Nombre de la Tienda">
                                            <small class="text-info" *ngIf="tiendaNoValida"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-0 mt-2">
                            <div class="offset-sm-9 col-sm-10">
                                <button 
                                    type="submit"
                                    class="btn btn__registro" 
                                >
                                Crea tu tienda
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>