<div class="container">
    <span class="tituloLink">
        <h4>
            Crea tu e-commerce, explora más ejemplos
            <i class="fas fa-angle-right"></i>
        </h4>
        
    </span>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="../../../assets/images/tiendas/natural-shop.png" alt="tiendaNatural">
                    <h4>Hogar y Jardin</h4>
                    <h5>Natural Shop</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="../../../assets/images/tiendas/gold-shop.png" alt="tiendaJoyeria">
                    <h4>Joyería</h4>
                    <h6>Gold Shop</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="../../../assets/images/tiendas/cosmetics-shop.png" alt="tiendaCosmeticos">
                    <h4>Belleza y Cosméticos</h4>
                    <span>Cosmetics Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>