<footer class="footer bg-dark text-white">
    <div class="container">
        <nav class="row">
            <a href="#" class="col-3 text-reset text-uppercase footer__logo">
                <img src="" alt="Logo" class="img-logo">
                Chupify
            </a>
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Chupify Menu</li>
                <li><a href="#" class="text-reset">Ver tiendas</a></li>
                <li><a href="#" class="text-reset">Iniciar Sesion</a></li>
                <li><a href="#" class="text-reset">Precios</a></li>
                <li><a href="#" class="text-reset">Registrate</a></li>
            </ul>
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Redes Sociales</li>
                <li class="social__menu">
                    <a href="#" class="text-reset">Facebook</a>
                    <a href="#" class="text-reset">Twiter</a>
                    <a href="#" class="text-reset">Instagram</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>