<header class="header">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">
            Chupify
        </a>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="#" class="nav-link menu__item"><i class="fas fa-bars"></i>Inicio</a></li>
        </ul>
    </div>
</header>




<div class="menu">
    <div class="menu__container">
        <div class="logo">Chupify</div>
        <ul class="navbar-nav menu__items">
            <li class="nav-item"><a href="#" class="nav-link menu__item"><i class="fas fa-home"></i>Inicio</a></li>
            <li class="nav-item"><a href="#" class="nav-link menu__item"><i class="fas fa-users"></i>Usuarios</a></li>
            <li class="nav-item"><a href="#" class="nav-link menu__item"><i class="fas fa-business-time"></i>Gestion de empresas</a></li>
            <li class="nav-item"><a href="#" class="nav-link menu__item"><i class="fab fa-amazon-pay"></i>Gestion de planes</a></li>
            <li class="nav-item"><a href="#" class="nav-link menu__item"><i class="fas fa-home"></i>Plantillas</a></li>
        </ul>
    </div>
    
</div>