<header class="navbar header navbar-expand-lg navbar-light header-fixed">
    <div class="m-header">
        <div class="mobile-menu" id="mobile-collapse"><span></span></div>
        <a href="#" class="b-brand">
            <img src="../../../../assets/images/logo/logo.ico" alt="logo" class="logo">
        </a>
        <a href="#" class="mob-toggler">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head">
                            <img src="../../../../assets/images/auth/user_default.png" alt="user-default" class="rounded-circle">
                            <span>Nombre</span>
                        </div>
                        <ul class="pro-body">
                            <li><a href="#" class="dropdown-item"><i class="fas fa-user"></i>Perfil</a></li>
                            <li><a href="#" class="dropdown-item"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a></li>
                        </ul>
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
</header>

<nav class="header-navbar menu-fixed">
    <div class="navbar-wrapper">
        <div class="navbar-content scroll-div">
            <div>
                <div class="main-menu-header">
                    <img src="../../../../assets/images/auth/user_default.png" alt="user" class="img-radius">
                    <div class="user-details">
                        <span class="mb-0 font-weight-bold">Nombre</span>
                        <div><small>Rol de Usuario</small></div>
                    </div>
                </div>
            </div>
            <ul class="nav header-inner-navbar">
                <li class="nav-item">
                    <a href="#" class="navbar-link header-hasmenu">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="texto">Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link header-hasmenu">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="texto">Gestion de Usuario</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link header-hasmenu">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="texto">Gestion de Empresas</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>