<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">¿Estas seguro de cerrar Sesión?</h4>
                <button class="btn btn-danger" (click)="cerrarSesion()">
                    <i nz-icon nzType="logout" nzTheme="outline"></i>
                    <span class="ml-2">Cerrar Sesión</span>
                </button>
                <button class="btn btn-info ml-4" (click)="regresar()">
                    <span>Regresar</span>
                </button>
            </div>
        </div>
    </div>
</div>