<nz-sider 
    ngCollapsible
    [(nzCollapsed)]="isCollapse"
    [nzTrigger]="null"
    >
    
    <div class="logo">
        <img class="img-fluid" src="../../../../assets/images/logo/logo-2.png" alt="LOGO">
    </div>
    <nz-header>
        <i nz-icon class="trigger" [nzType]="isCollapse ? 'menu-unfold' : 'menu-fold'" (click)="isCollapse = !isCollapse"></i>
    </nz-header>
    <ul nz-menu nzTheme="dark" nzMode="inline">
        <div *ngFor="let ruta of routes">
            <li nz-menu-item>
                <a routerLink="{{ruta.path}}">
                  <i nz-icon nzType="{{ruta.icono}}" nzTheme="fill"></i>
                  <span>{{ruta.titulo}}</span>
                </a>
              </li>
        </div>
    </ul>
</nz-sider>
