header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 65px;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 75px;
    height: 75px;
}

.navbar{
    padding: 20px 0px;
    color: #393E41 !important;
    background-color: #F2E9E4;
}

.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #393E41;
}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #FE4739; 
    color: #fff;
    border-radius: 45px;
}

.navbar-light .navbar-nav .navbar-item .nav-link{
    color: red;
    padding: 5px 15px;
}