<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="title__banner">Chupify, te acompaña en tu emprendimiento</h2>
                <p class="description__banner">
                    Ofrecemos a los pequeños negocios la oportunidad de tener su sitio web
                    donde podrá publicitar y vender sus productos.
                    Somos una plataforma con todas las funciones de comercio electrónico
                    y punto de venta que necesitas para comenzar, gestionar y hacer crecer
                    tu negocio.
                    Qué esperas? Crea tu cuenta en Chupify..   
                </p>
                <a href="#" class="btn__comenzar">Comenzar</a>
            </div>
        </div>
    </div>
</section>
