<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Plan de Pago</h4>
                <hr>
                <div class="alert alert-success" *ngIf="status">
                    <span>{{ mensaje }}</span>
                </div>

                <form [formGroup]="formPlanPago" (ngSubmit)="onPlanPagoForm()" class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 control-label">Nombre Plan Pago</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input 
                                    type="text" 
                                    class="form-control"
                                    placeholder="Nombre del plan de Pago"
                                    formControlName="name"
                                    [class.is-invalid]="nameNoValido"
                                >
                                <small *ngIf="nameNoValido" class="text-danger">
                                    Ingrese al menos 3 letras
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="duration" class="col-sm-3 control-label">Duracion</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input 
                                    type="text"
                                    class="form-control"
                                    placeholder="Duración"
                                    formControlName="duration"
                                    [class.is-invalid]="duracionNoValida"
                                >
                                <small *ngIf="duracionNoValida" class="text-danger">
                                    Ingrese la duración del plan de pago
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="price" class="col-sm-3 control-label">Precio</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Precio del plan de pago"
                                    formControlName="price"
                                    [class.is-invalid]="precioNoValido"
                                >
                                <small *ngIf="precioNoValido" class="text-danger">
                                    Ingrese el precio del plan de pago
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="description" class="col-sm-3 control-label">Descripcion</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input 
                                    type="text" 
                                    class="form-control"
                                    placeholder="Descripción del plan de pago"
                                    formControlName="description"
                                    [class.is-invalid]="descripcionNoValida"
                                >
                                <small *ngIf="descripcionNoValida" class="text-danger">
                                    Ingrese la descripcion del plan de pago
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button 
                                type="submit"
                                nz-button
                                nzType="primary"
                                class="btn btn-block"
                            >
                                <i nz-icon nzType="save" nzTheme="outline"></i>
                                Guardar
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
