<div class="area__precio" id="precios">
    <div class="container">
        <h4>Elige tu plan de pago</h4>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="precio__individual">
                    <div class="titulo__precio">
                        <h3>Free</h3>
                    </div>
                    <div class="area__duracion">
                        Gratis. <span class="duracion">Durante un mes</span>
                    </div>
                    <div class="caracteristicas">
                        <ul>
                            <li>Tienda Online</li>
                            <li>Productos Ilimitados</li>
                            <li>No hay informes</li>
                        </ul>
                    </div>
                    <div class="btn-precio">
                        <a href="#">Adquiere plan</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="precio__individual">
                    <div class="titulo__precio">
                        <h3>Basico</h3>
                    </div>
                    <div class="area__duracion">
                        6550Lps.<span class="duracion">Durante 6 mes</span>
                    </div>
                    <div class="caracteristicas">
                        <ul>
                            <li>Tienda Online</li>
                            <li>Productos Ilimitados</li>
                            <li>Informes profesionales</li>
                        </ul>
                    </div>
                    <div class="btn-precio">
                        <a href="#">Adquiere plan</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="precio__individual">
                    <div class="titulo__precio">
                        <h3>Premium</h3>
                    </div>
                    <div class="area__duracion">
                        10550Lps. <span class="duracion">Durante un año</span>
                    </div>
                    <div class="caracteristicas">
                        <ul>
                            <li>Tienda Online</li>
                            <li>Productos Ilimitados</li>
                            <li>Generador de informes</li>
                        </ul>
                    </div>
                    <div class="btn-precio">
                        <a href="#">Adquiere plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>