.footer{
    margin-top: 15px;
    background-color: #3F5572;
}

.footer__logo{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.social__menu{
    display: flex;
    justify-content: space-between;
}

.fa-facebook{
    color: #6EA8F3;
}

.fa-twitter{
    color: #1A91DA;
}

.fa-instagram{
    color: #EA1C52;
}