<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Planes de Pago ({{planesPago.length}})</h4>
                        <div class="alert alert-danger" *ngIf="status">
                            <span>{{ mensaje }}</span>
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <div class="text-right">
                            <button
                                routerLink="nuevo" 
                                nz-button 
                                nzType="primary"
                                nzValue="large"
                            >
                                <i nz-icon nzType="user-add" nzTheme="outline"></i>
                                <span>Crear Plan de Pago</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-2">
                    <nz-table
                        class="table table-bordered" 
                        #basicTable 
                        #rowSelectionTable
                        [nzData]="planesPago"
                        [nzPageSize]="5"
                        nzShowPagination
                        >
                        <thead>
                            <th>NOMBRE</th>
                            <th>DURACION</th>
                            <th>PRECIO</th>
                            <th>DESCRIPCION</th>
                            <th>ACCIONES</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let plan of rowSelectionTable.data">
                                <td>{{plan.name}}</td>
                                <td>{{plan.duration}}</td>
                                <td>{{plan.price}} LPS.</td>
                                <td>{{plan.description}}</td>
                                <td>
                                    <a 
                                        [routerLink]="['editar', plan._id]"
                                        class="btn btn-sm btn-warning"
                                        data-toggle="tooltip"
                                        data-original-title="Editar"
                                    >
                                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                                    </a>
                                    <a 
                                        class="btn btn-sm btn-danger"
                                        data-toggle="tooltip"
                                        data-original-title="Borrar"
                                        (click)="borrarPlan(plan)"
                                    >
                                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</div>